# Ігнорувати тимчасові файли та резервні копії
nppBackup/
conf_my.h

# Ігнорувати середовища розробки
.vscode/
.idea/

# Ігнорувати скомпільовані файли
*.bin
*.elf
*.o
*.d
*.lst
*.map

# Ігнорувати налаштування платформи
.pio/
.pioenvs/
.piolibdeps/

# Системні файли
.DS_Store
Thumbs.db
